<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Cipher App</title>
</head>
<body class="container-fluid bg-light">
<div class="mt-4 p-5 bg-info text-white rounded">
    <h1>Cipher App</h1>
    <p>Made with Flask</p>
    <p>By: <a href="https://devblog.periodicc.com/about/" class="text-white">Devoalda</a></p>
</div>
<div class="container-fluid">
    <h1 class="mt-3">Caesar Cipher</h1>
    <ul class="nav nav-tabs mx-auto">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#plaintext-tab">Encrypt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ciphertext-tab">Decrypt</a>
        </li>
    </ul>
    <div class="tab-content container-fluid">
        <div id="plaintext-tab" class="tab-pane fade show active">
            <!-- Your plaintext input form here -->
            <!-- URL for /encrypt -->
            <div class="container-fluid mt-3">
                {% include "CaesarEncrypt.html" %}
            </div>
        </div>
        <div id="ciphertext-tab" class="tab-pane fade">
            <!-- Your ciphertext input form here -->
            <div class="container-fluid mt-3">
                {% include "CaesarDecrypt.html" %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h1 class="mt-3">Base 64 Encoding</h1>
</div>

<div class="container-fluid">
    <ul class="nav nav-tabs mx-auto">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#b64-plaintext-tab">Encrypt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#b64-ciphertext-tab">Decrypt</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="b64-plaintext-tab" class="tab-pane fade show active">
            <!-- Your plaintext input form here -->
            <div class="container-fluid mt-3">
                {% include "base64Encode.html" %}
            </div>
        </div>
        <div id="b64-ciphertext-tab" class="tab-pane fade">
            <!-- Your ciphertext input form here -->
            <div class="container-fluid mt-3">
                {% include "base64Decode.html" %}
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>